# Ignore all files in the data/ folder
data/

KataGo_engine/

# Prevent pushing all files from src/data_acquiring/old_scripts
src/data_acquiring/old_scripts/

runs/

# Ignore model weights and training states
MyModel/

src/interception/python/

model_quantization/

v1.16.4.zip

squashfs-root/

llama_env/

llama.cpp/

KataGo-1.16.4/

src/model_training/logs/

CLAUDE.md

.hf_cache/

.claude/

merged-qwen-7b-go/

.vscode/

wandb/

src/interception/gtp_proxy.exe

nvidia-smi.md

.cache/

.local/